# ----------------------
# Flask
# ----------------------
flask
flask-restful
flask-jwt
flask-login
Pillow
beautifulsoup4

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
eventlet
gunicorn
mongoengine

# ----------------------
# Other
# ----------------------
youtube-dl
addict
xmltodict
py-bcrypt
