@font-face {
  font-family: 'simplifica';
  src: url('../static/simplifica.ttf')  format('truetype'), /* Safari, Android, iOS */
}

html, body {
  height: 100%;
}

body {
  padding: 4px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

input {
  padding: 3px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input::-webkit-input-placeholder { font-weight: 100; }
input:-moz-placeholder { font-weight: 100; } /* FF 4-18 */
input::-moz-placeholder { font-weight: 100; } /* FF 19+ */
input:-ms-input-placeholder { font-weight: 100; } /* IE 10+ */

.post {
  margin-bottom: 30px;
}

.post-container {
  padding: 40px;
}

#photo_cover {
  background-image: url('cover.jpeg');
  height: 500px;
  margin-top: -12px;
  margin-left: -12px;
  margin-right: -12px;
}

.author-container{
  margin-bottom: 10px;
}

.author-name {
  font-style: italic;
}

.post-content{
  font-family: 'Asap', sans-serif;
  font-size: 1em;
}

.post-title {
  font-size: 2em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 5px;
}

#tbl_post {
  width: 100%;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.size-100 {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/*  Login specifics  */
#login_form input {
  outline: none;
  font-family: 'simplifica', sans-serif;
}

#login_form input {
  text-align: center;
}


#login_form #username {
  border-width: 0px 0px 1px 0px;
  padding-bottom: 8px;
}

#login_form #password {
  border-width: 0px;
  padding-top: 8px;
}

#login_form button {
  border: none;
  padding: 4px 0px 4px 0px;
  border-radius: 3px;
  text-align: center;
  outline: none;
  position: relative;
  top: -28px;
  left: 148px;
}

#login_form button.hidden {
  visibility: hidden;
}

#login_btn_img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #73737347;
  object-fit: scale-down;
}
#login_btn_img:active {
  background-color: #7373737d;
}
/* End login specifics */