<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>C4E</title>
    <link href="https://fonts.googleapis.com/css?family=Asap|Yanone+Kaffeesatz" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div class="" id="photo_cover">

    </div>
    <div class="post-container">
      {% for post in posts %}
      <div class="post">
        <div class="post-title">{{ post.title}}</div>
        <div class="author-container">
          <span>by</span>
          <span class="author-name">{{ post.author }}</span>
        </div>
        <span class="post-content">{{ post.content | nl2br }}</span>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
